.h1 {
    text-align: center;
    color: #e0e0e0;
}

.result {
    background: #333;
    position: relative;
    transition: .3s all ease-in-out;
    margin: 3px;
    padding: 10px;
    border-radius: 10px;

    &:hover {
       // transform: translateX(10px);
       background: rgba($color: #333, $alpha: 0.8);
       background-position: 50%;
    }
}

.resultBlock {
    overflow: auto;
    border-radius: 10px;
    margin: 5px;
    box-shadow: 0 0 3px #000;
    background: linear-gradient(40deg,var(--accent), var(--accent));
}

.title {
    margin-top: 0;
    color:#fff;
    font-size: 1.4rem;
    text-shadow: 0 0 10px #000;
}

cite {
    color: #fff;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100%;
    display: inline-block;
}

.form {
    font-size: 1.6rem;
    line-height: 1.6rem;
}

.input {
    font-size: 2rem;
    line-height: 2rem;
    transition: .3s all ease-in-out;
    padding: 5px;
    color: #fff;
    background: #292929;
    border-radius: 10px;
    margin-top: 1rem;
    width: 100%;
    border: 0;
    border-bottom: 2px solid var(--grape);
    caret-color: var(--accent);

    &:focus {
        border-bottom: 2px solid var(--accent);
        outline: none;
    }
}