html,
body {
	height: 100%;
	width: 100%;
	padding: 0;
	margin: 0;
	background: var(--pale);
	font-family: 'Helvetica Neue', arial, sans-serif;
	font-weight: 400;
	color: #444;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
ul{
	list-style: none;
	padding: 0;
}
a {
	text-decoration: none;
	color: unset;
}

:root {
	--maya: #a9eee6;
	--pale: #fefaec;
	--brick: #f38181;
	--grape: #625772;
	--pink: hotpink;
	--blue: cornflowerblue;
}

* {
	box-sizing: border-box;
}

#app {
	height: 100%;
}